[submodule "Gamacon"]
	path = lib/gamacon
	url = https://github.com/AnonymusRaccoon/Gamacon
[submodule "lib/quadtree"]
	path = lib/quadtree
	url = https://github.com/AnonymusRaccoon/Quadtree
[submodule "lib/xmlparser"]
	path = lib/xmlparser
	url = https://github.com/AnonymusRaccoon/xmlParser
